src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="adaf54ae-ff9d-440c-a982-e2b526a47606" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="9608a599-0793-4686-89dc-c07fb2631987" >
		<http:listener doc:name="Listener" doc:id="61bdbfb0-2425-4e06-a746-ebfea70776b7" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-variable value='#[name:"aravind"]' doc:name="Set Variable" doc:id="da42becb-1032-4659-ace7-5a7c663a0b0f" variableName="Set variable"/>
		<set-payload value="#[vars.name]" doc:name="Set Payload" doc:id="96beb1bb-25f8-42d2-a9c8-6efb0ba273f0" />
	</flow>
</mule>
